body{
  color:#fff;
  font-family: 'Oswald', sans-serif;
}
.second-color{
  color: #007dc5
}
.second-bc{
  background-color: #007dc5;
}
.banner-bg{
  background-image: url("../img/mainBG.png");
  height: 1035px;
}
.bg{
  background-size: cover;
  padding: 0;
}
.container-fluid.main-content {
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    z-index: 9;
}

header .container {
    padding: 0;
    width: 100%;
}

.navbar-default {
    background: rgba(0,0,0,0.8);
    height: 156px;
    border: 0;
    border-radius: 0;
    padding: 0 35px;
}

.navbar-brand>img {
    width: 100%;
}

.navbar-brand {
    width: 330px;
    height: 100%;
    padding-top: 40px;
}

.container.banner {
    width: 100%;
    margin: 0;
    background: rgba(0,0,0,0.8);
    height: 100%;
}
.navbar-nav>li {
    font-size: 30px;
    margin-top: 61px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 32px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-nav {
    height: 100%;
    width: 77%;
    padding-left: 20px;
}

.logo {
    width: 535px;
    margin: auto;
    margin-top: 150px;
}

.logo img {
    width: 100%;
}

.slogan {
    width: 70%;
    margin: auto;
    font-size: 49px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 23px;
    line-height: 59px;
}

.sep {
    width: 28%;
    margin: auto;
    height: 9px;
    background: white;
    margin-top: 31px;
}

.passion {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 4px;
    margin-top: 24px;
    line-height: 41px;
}

.more {
    margin-top: 79px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
}

.more .arrow {
    font-size: 75px;
    margin-top: -21px;
}
