body{color:#fff;font-family:'Oswald',sans-serif;text-align:center}
img{max-width:100%}
.second-color{color:#007dc5}
.section-title{text-align:center;text-transform:uppercase;font-size:38px;letter-spacing:3px;margin-top:100px}
.contact .section-title{margin-bottom:17px}
.benefits .section-title{margin-bottom:45px}
.services .section-title{margin-bottom:60px}
.soon .section-title{margin-bottom:40px}
.second-bc{background-color:#007dc5}
.btn{transition:all .5s ease;font-family:'Oswald',sans-serif}
.benefits .btn{width:299px;margin-top:23px;height:68px;border-radius:14px;font-size:38px;text-transform:uppercase;letter-spacing:4px;margin-bottom:60px;max-width:100%}
.btn:hover{background:#078ada;color:#fff}
.banner-bg{background-image:url(../img/main-bg.png);height:826px}
.container-fluid.main-content{padding:0}
header{position:fixed;width:100%;z-index:9}
header .container{padding:0;width:100%}
.navbar-default{background:#000;height:93px;border:0;border-radius:0;padding-left:50px}
.navbar-brand>img{width:100%}
.navbar-brand{width:250px;height:100%;padding-top:18px}
.container.banner{width:100%;margin:0;background:rgba(0,0,0,0.8);height:100%}
.navbar-nav>li{font-size:22px;margin-top:26px;text-transform:uppercase;text-align:center;width:calc(100% / 5)}
.navbar-default .navbar-nav>li>a{color:#fff;transition:all .5s ease}
.navbar-default .navbar-nav>li>a:hover{color:#047cc5}
.navbar-nav{height:100%;width:77%;padding-left:20px;float:right}
.logo{width:325px;margin:auto;margin-top:150px;max-width:100%}
.logo img{width:100%}
.slogan{width: 860px;margin:auto;font-size: 31px;text-align:center;text-transform:uppercase;letter-spacing:2px;margin-top:23px;line-height:59px;max-width: 90%;}
.sep{width:28%;margin:auto;height:9px;background:#fff;margin-top:31px}
.passion{width: 716px;margin:auto;text-align:center;font-size:22px;font-family:'Raleway',sans-serif;letter-spacing:4px;margin-top:24px;line-height:41px;}
.services-bg{background:url(../img/services-bg.png)}
.more{margin-top:43px;text-align:center;font-size:21px;letter-spacing:3px;font-family:'Raleway',sans-serif}
.more .arrow{font-size:63px;margin-top:-17px}
.more .arrow a{color:#fff;transition:all .5s ease}
.more .arrow a:hover{color:#047cc5;font-size:70px}
.contact{background:rgba(0,0,0,0.8);width:100%}
.phone{background:url(../img/phone-app.png);background-size:contain;min-height: 640px;background-repeat:no-repeat;background-position:center 0;}
.for-clients.ben-items{text-align:right;padding-right:30px;}
.for-clients .ben-title{float:right}
.ben-items .title{font-size:28px;margin-top:0;text-transform:uppercase}
.for-rest>div{max-width:88%;min-height:125px;margin-bottom:31px}
.for-clients>div{float:right;max-width:88%;min-height:125px;margin-bottom:31px}
.for-rest.ben-items{text-align:left}
.form *{width:100%}
.form input,.form textarea{border:1px solid #686466;background-color:rgba(0,0,0,0.6)}
.service .desc{font-family:'Raleway',sans-serif;font-size:17px;width:250px;margin:auto;margin-bottom:100px;max-width:100%}
.ben-items .desc{font-family:'Raleway',sans-serif;font-size:20px;letter-spacing:2px}
.services{width:100%;background:rgba(0,0,0,0.8)}
.contact-details{font-family:'Raleway',sans-serif;font-size:23px;letter-spacing:2px}
.contact-details p{margin:0}
.contact-details p i{margin-top: 10px;width: 50px;color: #fff;transition: all .5s ease;}
.contact-details p a{color:#fff;transition: all .5s ease;}
.contact-details p a:hover{text-decoration: none;color: #047cc5;}
.contact-details p a:hover i{color: #047cc5}
.form{font-family:'Raleway',sans-serif;width: 385px;margin:auto;max-width:100%;}
.aim{font-size:42px;margin-top:38px;letter-spacing:3px;line-height:50px;text-transform:uppercase;margin-bottom:100px}
.copy-rights{text-align:right;margin-bottom: 30px;}
.form .btn{margin-top:53px;height:62px;width:289px;max-width:90%;font-size:35px;letter-spacing:2px}
.form input{height: 62px;font-size: 20px;padding:0 24px;}
.form textarea{height: 145px;font-size: 20px;padding:21px;}
.form .title{margin-top:40px;font-size:26px}
.ben-cont-bg{background-image:url(../img/ben-bg.png)}
.benefits{background:rgba(0,0,0,0.9);box-shadow:0 33px 26px 0 rgba(0,0,0,0.85);margin-bottom:50px;width:90%;max-width:1300px;margin-top:50px}
.service .icon img{-webkit-transition:.5s ease;transition:.5s ease;width:100%}
.service .icon{width:114px;margin:auto}
.service .title{text-transform:uppercase;font-size:28px;margin-top:15px;margin-bottom:15px}
.service .icon img:hover{-webkit-transform:rotate(360deg) scale(1.2);transform:rotate(360deg) scale(1.2)}
.navbar-default .navbar-nav>li>a:focus{color:#fff}
.about{color:#000;text-transform:uppercase}
.download-item{width:249px;float:left;height:80px;margin-left:20px;margin-bottom:100px}
.download-item img{width:100%}
.download-cont{width:540px;margin:auto;max-width:100%}
.bg{background-size:cover;padding:0}
.about .desc{font-size:21px;letter-spacing:2px;width:88%;margin:auto;margin-bottom:100px;margin-top:14px}
.ben-title{font-size:35px;letter-spacing:2px;width:150px;text-transform:uppercase}
@media only screen and (max-width: 1023px) {
.form .title{margin-bottom:40px}
.phone{min-height:580px;background-size:contain;background-position:center}
.benefits{width:95%}
.benefits .row>div{padding:0 5px}
.download-cont{margin-bottom:50px}
.ben-items .title{font-size:15px}
.ben-items .desc{font-size:12px;padding:0;letter-spacing:0;padding-right:5px}
.ben-title{text-align:center;width:100%;min-height:20px!important;font-size:27px;max-width:100%!important}
.aim{font-size:20px;line-height:39px;margin-bottom:60px}
.download-item{float:none;margin:auto;margin-bottom:20px}
.service .desc{margin-bottom:60px}
.section-title{margin-top:60px}
.soon .section-title{letter-spacing:0}
.about .desc{width:100%;margin-bottom:60px}
.navbar-default .navbar-brand{width:200px;padding-top:7px}
.navbar-default{height:60px;padding:0}
.ben-items .item{width:50%;float:left;text-align:center;min-height: 72px;margin-bottom: 20px;}
.ben-items .item:last-of-type {width: 100%;max-width: 100%;min-height: 40px;margin-bottom: 20px;}
.ben-items{height:180px;height: 240px;padding:0!important;}
.container-fluid>.navbar-collapse{height:208px;background:#000;padding:0}
.navbar-nav>li{padding:0;margin:0;font-size:16px;width:100%;border-bottom:1px solid #676366;transition:all .5s ease}
.navbar-nav{width:100%;margin:0;padding:0}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle{background:#050608;border:0}
.navbar-default .navbar-toggle .icon-bar{background:#fff;margin-top:5px}
.logo{width:180px;margin-top:110px}
.slogan{font-size: 20px;line-height: 28px;width:100%;max-width: 100%;}
.passion{width:100%;font-size:15px;line-height:25px}
.container-fluid.banner-bg.bg{height:680px}
}
